@page
@model AboutModel
@{
    ViewData["Title"] = "Deep Insider: 機械学習エンジニアを目指す人のための技術情報サイト";
}

<div id="particles">
  <div id="intro">
    <h1><img src="/images/manabu-white.svg" style="width: 126px; height: 100px; margin: 10px;"><img src="/images/logo-long-white.svg" style="height: 100px; width: 635px; margin: 10px;"></h1>
    <h2>機械学習エンジニアを目指す人のための技術情報サイト</h2>
    <div id="CDT"></div>
    <p>本サイトは2018年4月にオープン予定です！ 正式公開後、またお越しいただけますと幸いです。</p>
    <a href="https://www.facebook.com/deepinsiderjp/" class="btn">Facebook ページ</a>
  </div>
</div>

